:root{
    /* ||COLORS */
    --BGCOLOR: #352F44 /*#54585A linear-gradient(#0F0F0F, #28406e) #FFFBF5*/;
    --BGCOLORSUB: #5C5470 /*#888B8D radial-gradient( #28406e,#0F0F0F)#F7EFE5*/;
    --FONTCOLOR: /*#C8102E*/ #FAF0E6;
    --FONTCOLORSUB: #FFF;
    --COLORFALLBACK: #000;
    --HOVERCOLOR: /*#960C22*/ #B9B4C7;
    --TEXTSHADOW: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    /* ||BORDER */
    --GRIDBORDERS: #000 1px solid;
}
body {
    font-family: 'League Gothic';font-size: 30; letter-spacing: 1px;
    background-color: var(--BGCOLOR);
}
h1 {
    color: var(--FONTCOLOR);
}
h2 {
    color: var(--FONTCOLOR);
}
h3 {
    color: var(--FONTCOLOR);
}
form {
    color: var(--FONTCOLORSUB);
}
div {
    color: #FFF9D9;
}
#songInputs{
    border-radius: 10px;
    background: #640817;
}
input {
    color: var(--FONTCOLORSUB);
    background-color: var(--BGCOLORSUB); 
}

select{
    color: var(--FONTCOLORSUB);
    background-color: var(--BGCOLORSUB);
}

#albumSection {
    display: none;
}

#GenreSelection {
    margin-top: 2px;
}

#ResultType {
    margin-top: 0px;
}

#submit {
    margin-top: 20px;
}

#Genrepick {
    margin: 0px;
    margin-bottom: 3px;
}

#RT {
    margin-top: 20px;
    margin-bottom: 3px;
}

#STS {
    margin-top: 20px;
    margin-bottom: 3px;
}

