
/* || RESET */

* {
    margin: 5 px;
    padding: 5 px;
}
    
button{
    font: inherit;
}
    
/* ||VARIABLES */
    
:root{
    /* ||COLORS */
    --BGCOLOR: #352F44 /*#54585A linear-gradient(#0F0F0F, #28406e) #FFFBF5*/;
    --BGCOLORSUB: #5C5470 /*#888B8D radial-gradient( #28406e,#0F0F0F)#F7EFE5*/;
    --FONTCOLOR: /*#C8102E*/ #FAF0E6;
    --FONTCOLORSUB: #FFF;
    --COLORFALLBACK: #000;
    --HOVERCOLOR: /*#960C22*/ #B9B4C7;
    --TEXTSHADOW: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    /* ||BORDER */
    --GRIDBORDERS: #000 1px solid;
}

body{
    background-color: var(--BGCOLOR);
    color: var(--FONTCOLOR);
    
    
}