

/* || RESET */

* {
  margin: 0;
  padding: 0;
  }
  
  
  /* ||VARIABLES */
  
  :root{
      /* COLORS */
      --BGCOLOR: #352F44 /*#54585A linear-gradient(#0F0F0F, #28406e) #FFFBF5*/;
      --BGCOLORSUB: #5C5470 /*#888B8D radial-gradient( #28406e,#0F0F0F)#F7EFE5*/;
      --FONTCOLOR: /*#C8102E*/ #FAF0E6;
      --COLORFALLBACK: #FFF;
      --HOVERCOLOR: /*#960C22*/ #B9B4C7;
      --TEXTSHADOW: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
  }


#songlist {
  list-style: none;
  padding: 0;
}

html {
  font-size: 1.5em;
  scroll-behavior: smooth;
}

/* || HYPERLINKS */
a {
  color: var(--FONTCOLOR);
  text-decoration: none;
}
a:visited {
  color: var(--FONTCOLOR); 
}
a:hover, a:active {
  color: var(--HOVERCOLOR);
}

/* || BODY */
body {
  background-color: var(--BGCOLOR);
  color: VAR(--FONTCOLOR);
}

/* || SIDEBAR */
.side{
  margin: 0px;
  height: 100%;  /*Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--BGCOLORSUB); 
  border-right: 2px solid grey;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


.playlist{
  font-size: .5rem;
  
}
.profile{
  display: block;
  background-color: #FFF;
  place-content: center;
  width: 50px;
  height: 50px;
}


/* position of the main page */
main {
  
  padding: 0px 10px;
}

/* font colors */
.uhFont {
  color: var(--FONTCOLOR);
  
}

/*For the search bar*/
#searchbar {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 1%; 
  padding: .8rem; 
  border-radius: .6rem; 
  width: 24rem;
  color: var(--COLORFALLBACK);
}

.song-list {
  display: flex;
  /* flex for horizontal list */
}

.song-item {
  border: 1px solid #FFF9D9;
  background-color: var(--BGCOLORSUB);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.song-box {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-right: 10px;
  border-radius: 7px;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0px;
  /*The info of the song is outside the box rather that in.*/
  padding: 0px;
  font-size: 12px;

}

.song-info p {
  margin: 3px;
}

#new-releases {
  list-style: none;
  padding: 0px;
}

.NR-box {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin-right: 10px;
  border-radius: 7px;
}

#Recommended {
  list-style: none;
  padding: 0px;
}

.Rec-box {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  margin-right: 10px;
}



